/*CSS Style Document*/

p{
	color:red;
}

.blue {color: blue;}

.byline {font-size: 48px;}

img{
	height:200px;
	width: 300px;

}

.dog {height: 200px;
width: 200px;}

ul{
	list-style-type: square;
}

h1{
	font-family: "Helvetica Neue", sans-serif;
}

li {background-color: yellow;}

